.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.eventDate {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  color:#75614d;
}

.eventTime {
  font-weight: bold;
  font-size: 80%;
}

.eventTitle {
  margin-left: 0.5rem;
}

.eventAllDay {
  font-size: 80%;
  font-style: italic;
}

.eventToday {
  background-color: rgb(243, 200, 200);
}
.list li {
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  color:#382e24;
  list-style-type: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
